<div class="container mt-4">
  <div *ngIf="loading" class="alert alert-info">
    Loading recipe...
  </div>

  <div *ngIf="meal">
    <a routerLink="/recipes" class="btn btn-secondary mb-3">Back to Recipes</a>

    <div class="row">
      <div class="col-md-5">
        <img [src]="meal.strMealThumb" class="img-fluid rounded" [alt]="meal.strMeal">
      </div>

      <div class="col-md-7">
        <h2>{{ meal.strMeal }}</h2>
        <p class="text-muted">{{ meal.strCategory }}</p>
        <h5>Instructions</h5>
        <p class="instructions">{{ meal.strInstructions }}</p>
      </div>
    </div>
  </div>
</div>
